<ion-tabs>
  <ion-tab icon="home" href="/tabs/(home:home)">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab icon="chatbubbles" href="/tabs/(chat:chat)">
    <ion-router-outlet name="chat"></ion-router-outlet>
  </ion-tab>
  <ion-tab icon="add" href="/tabs/(contact:contact)">
    <ion-router-outlet name="contact"></ion-router-outlet>
  </ion-tab>
  <ion-tab icon="people" href="/tabs/(friends:friends)">
    <ion-router-outlet name="friends"></ion-router-outlet>
  </ion-tab>
  <ion-tab icon="contact" href="/tabs/(profile:profile)">
    <ion-router-outlet name="profile"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
